<div class="container">
  <div class="form has-background-warning p-6">
    <div class="field">
      <label class="label is-size-5" for="Email">Email:</label>
      <input
        type="email"
        class="input is-size-6 has-text-weight-bold"
        required
      />
    </div>
    <div class="field">
      <label class="label is-size-5" for="Email">Password:</label>
      <input
        type="password"
        class="input is-size-6 has-text-weight-bold"
        required
      />
    </div>

    <button
      class="button is-white has-text-weight-bold is-size-6 is-medium mt-5"
    >
      Login
    </button>
  </div>
</div>
