<div id="loading">
  <svg>
    <rect></rect>
  </svg>
</div>

<div id="indexContent" class="container" hidden>
  <div class="rows">
    <div class="row my-6">
      <h1 class="is-size-1 has-text-centered">
        Welcome to your back office Marjane, may you authenticate!
      </h1>
    </div>
    <div class="row my-6 is-flex is-justify-content-center">
      <a href="/centerlogin" class="button is-warning is-large mx-6"
        >Center Manager</a
      >
      <a href="/aislelogin" class="button is-warning is-large mx-6"
        >Aisle Manager</a
      >
    </div>
  </div>
</div>
